.my-header-bg{
    background-color: #b3ff66 !important;
}
.nav-bg{
    background-color: #40bf80;
}
.register-btn{
    
    margin-top: 100px;
    margin-bottom: 10px;
    margin-right: 20px;
    margin-left: 100px;
}
.login-btn{
    margin-right: 20px;
    margin-left: 20px;
}
.nav-border{
    border-radius: 10px;
}
.fruite .fruite-item {
    height: 100%;
    transition: 0.5s;
}
.fruite .fruite-item:hover {
    box-shadow: 0 0 55px rgba(0, 0, 0, 0.4);
}
.underlined-heading {
    text-decoration: underline;
    color: #935116; 
}
.btn-large {
            font-size: 1.5rem; /* Adjust the font size as needed */
        }
        
/* supplier profile*/

body {
    background: 
}

.form-control:focus {
    box-shadow: none;
    border-color: #BA68C8
}

.profile-button {
    background: rgb(99, 39, 120);
    box-shadow: none;
    border: none
}

.profile-button:hover {
    background: #682773
}

.profile-button:focus {
    background: #682773;
    box-shadow: none
}

.profile-button:active {
    background: #682773;
    box-shadow: none
}

.back:hover {
    color: #682773;
    cursor: pointer
}

.labels {
    font-size: 17px;
    text-align: start;
    margin-top: 2px;
    margin-bottom: 5px
        
}
/* supplier dashboard new  button */
.btn-background-:hover {
    background: var(--bs-info) !important;
    color: var(--bs-white) !important;
    
    font-weight: 600;
    transition: .5s
}
/* supplier dashboard Create button */
.btn-background-create:hover {
    background: var(--bs-success) !important;
    color: var(--bs-white) !important;
    
    font-weight: 600;
    transition: .5s
}


