.my-header-bg{
    background-color: #b3ff66 !important;
}
.nav-bg{
    background-color: #40bf80;
}
.register-btn{
    
    margin-top: 100px;
    margin-bottom: 10px;
    margin-right: 20px;
    margin-left: 100px;
}
.login-btn{
    margin-right: 20px;
    margin-left: 20px;
}
.nav-border{
    border-radius: 10px;
}
.fruite .fruite-item {
    height: 100%;
    transition: 0.5s;
}
.fruite .fruite-item:hover {
    box-shadow: 0 0 55px rgba(0, 0, 0, 0.4);
}
.underlined-heading {
    text-decoration: underline;
    color: #935116; 
}
.btn-large {
            font-size: 1.5rem; /* Adjust the font size as needed */
        }
